@import "../../../assets/styles/variables.scss";

.searchWrapp {
    width: 100%;
    margin-top: 6rem;
    padding: 0 0.7rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    transition: border .3s ease;

    &:focus-within {
        border-color: rgba($accent, 0.5);
    }

    .search {
        outline: none;
        border: none;
        padding: 1.5rem 0 1.5rem 0.5rem;
        background-color: transparent;
        color: $white;
        font-size: 1rem;

        &::placeholder {
            color: $white;
        }

    }

    >span {
        color: $white;
        opacity: 0.8;
    }
}