@import "../../../assets/styles/variables.scss";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.8);

    >nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;

        >button {
            border: none;
            background-color: transparent;
            margin: 0 1.5rem;

            >span {
                color: $gray;
                transition: all ease .3s;
                font-size: 2rem;
            }

            &:hover,
            &.active {
                >span {
                    color: $accent;
                }
            }
        }
    }
}