@import "../../../assets/styles/variables.scss";

.filtersWrapp {
    max-width: 670px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .btn {
        border: 1.5px solid rgba($white, 0.5);
        border-radius: 2rem;
        padding: 1.2rem 2.7rem;
        margin: 0 1rem;
        cursor: pointer;
        background-color: transparent;
        color: $white;
        font-size: 1rem;
        font-weight: bold;
        transition: border .4s ease;

        &.active {
            border-color: rgba($accent, 0.5);
        }
    }



    .btn+.btn+.btn+.btn {
        margin-top: 0.6rem;
    }


}